@{
    ViewData["Title"] = "Modificando elLibro";
}
<div class="text-center">
    <h1 class="display-4">Modificando los datos del libro:@ViewData["SearchTerm"]</h1>
</div>
<div>
    @{var clsalert = "alert-fail";}
    <form id="" class="form-inline mr-ms-2" method="post" action="Edit?id=@Model.Model.TitleId">
        @Html.AntiForgeryToken()
        <input type="hidden" class="form-control" name="titleid" value="@Model.Model.TitleId" />
        <table>
            <tr><td> ID:</td><td>@Model.Model.TitleId</td></tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>

                    <input type="text" class="form-control" required name="name" value="@Model.Model.Title"
                           maxlength="40" size="40" />
                </td>
            </tr>
            <tr>
                <td>
                    Genero:
                </td>
                <td>

                    <select name="type" class="form-control" required value="@Model.Model.Type">
                        <option value="">(Ninguna)</option>
                        @foreach (var oneType in Model.Types)
                        {
                            var selitem = "";
                            @if (@oneType == @Model.Model.Type)
                            {
                                selitem = "selected";
                            }
                            <option value="@oneType"
                                    selected="@selitem">
                                @oneType
                            </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Editora:
                </td>
                <td>

                    <select name="pub_id" class="form-control" required value="@Model.Model.PubId">
                        <option value="">(Ninguna)</option>
                        @foreach (var onePub in Model.Pubs)
                        {
                            var selitem = "";
                            @if (@onePub.PubId == @Model.Model.PubId)
                            {
                                selitem = "selected";
                            }

                            <option value="@onePub.PubId" selected="@selitem">
                                @onePub.PubName
                            </option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Precio:
                </td>
                <td>

                    <input type="text" class="form-control" name="price" required value="@Model.Model.Price" />
                </td>
            </tr>
            <tr>
                <td>
                    Avance:
                </td>
                <td>

                    <input type="text" class="form-control" name="avance" required
                           value="@Model.Model.Advance" />
                </td>
            </tr>
            <tr>
                <td>
                    Royalty:
                </td>
                <td>

                    <input type="text" class="form-control" name="royal" required value="@Model.Model.Royalty" />
                </td>
            </tr>
            <tr>
                <td>
                    Ventas Año:
                </td>
                <td>

                    <input type="text" class="form-control" name="yearsales" required
                           value="@Model.Model.YtdSales" />
                </td>
            </tr>
            <tr>
                <td>
                    Resumen:
                </td>
                <td>

                    <textarea name="notes" class="form-control" required cols="60"
                              rows="3">@Model.Model.Notes</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha de Pub.:
                </td>
                <td>

                    <input type="date" class="form-control" name="pubdate" required
                           value="@Model.Model.Pubdate" placeholder="mm-dd-yyyy" />

                </td>
            </tr>
            
        </table><br /><br />
    </form>
    <input type="submit" class="btn btn-primary" name="btn_send" value="Modificar"/>
    <h2 class="@clsalert">@ViewData["MessageText"]</h2>
</div>
